.background {
    -fx-background-color: #E2E9EF;
    -fx-min-width: 550px;
    -fx-max-width: 550px;
    -fx-min-height: 400px;
    -fx-max-height: 400px;

    -fx-background-radius: 15px;
}
.mensaje{
    -fx-background-color: #C2CDD6;

    -fx-pref-height: 200px;
    -fx-pref-width: 510px;

    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.3), 20, 0.3, 0, 5);
    -fx-transition: -fx-background-color 0.2s, -fx-effect 0.2s;
}
.btnAceptar{
    -fx-pref-width: 100px;
    -fx-pref-height: 35px;

    -fx-font-weight: bold;

    -fx-background-color: #62C070;
    -fx-text-fill: #ffffff;

    -fx-background-radius: 20px;
}
.titulo{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}