.background {
    -fx-min-height: 600;
    -fx-max-height: 600;
    -fx-min-width: 900;
    -fx-max-width: 900;
    -fx-background-color: #E2E9EF;
}
.boxesColor {
    -fx-background-color: #F8FCFF;
    -fx-border-color: #E2E9EF;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}
.labelStyle{
    -fx-padding: 0 0 0 5;
    -fx-background-color: #E2E9EF;
    -fx-border-radius: 6px;
    -fx-border-width: 1px;
    -fx-border-color: #5A777D;
}
.btns{
    -fx-background-color: transparent;
    -fx-min-height: 40;
    -fx-max-height: 40;
    -fx-min-width: 40;
    -fx-max-height: 40;
    -fx-pref-width: 40;
    -fx-pref-height: 40;
}
.textStyle{
    -fx-background-color: #E2E9EF;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
.textFieldDisable{
    -fx-background-color: #b4b9bc;
    -fx-border-radius: 6px;
    -fx-border-width: 1px;
    -fx-border-color: #5A777D;
    -fx-text-fill: #6C757D;
}
.titulo{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}
.btnCancelar{
    -fx-background-color: #C44B4B;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 20;
    -fx-pref-width: 120px;
    -fx-pref-height: 35px;
}
.btnGuardar{
    -fx-background-color: #62C070;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 20;
    -fx-pref-width: 120px;
    -fx-pref-height: 35px;
}
.textField{
    -fx-background-color: #EFEEEE;
    -fx-border-radius: 6px;
    -fx-border-width: 1px;
    -fx-border-color: #5A777D;
}