.login-pane {
    -fx-background-color: #E2E9EF;
    -fx-padding: 40px;
}

.imagen-pane {
    -fx-background-color: #E2E9EF;
    -fx-alignment: center;
}

.titulo {
    -fx-font-size: 18px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.subtitulo {
    -fx-font-size: 28px;
    -fx-text-fill: black;
}

.campo {
    -fx-pref-width: 350px;
    -fx-font-size: 14px;
    -fx-background-color: #E2E9EF;
    -fx-padding: 8px;
    -fx-border-color: #5A777D;
    -fx-background-radius: 6;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.headers {
    -fx-flex-align: left;
    -fx-padding: 50px 20px;
}



.campo-texto {
    -fx-pref-width: 300px;
    -fx-font-size: 14px;
    -fx-background-color: #E2E9EF;
    -fx-text-fill: #000000;
    -fx-background-radius: 6;
    -fx-padding: 10px;
}

.check-estilo {
    -fx-text-fill: #2e7d32;
}

.boton-ingresar {
    -fx-background-color: #66bb6a;
    -fx-text-fill: #E2E9EF;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 10px 20px;
}

.mensaje {
    -fx-font-size: 12px;
    -fx-text-fill: #e53935;
}
