.form-pane {
    -fx-background-color: #E2E9EF;
    -fx-padding: 50px;
    
}

.imagen-pane {
    -fx-background-color: linear-gradient(to bottom right, #e8f5e9, #c5e1a5);
    -fx-alignment: center;
}

.headers {
    -fx-flex-align: left;
    -fx-padding: 30px 20px;
}

.label {
    -fx-background-color: #E2E9EF;
    -fx-font-weight: bold; 
    -fx-padding: -10 5 0 2;
    -fx-text-fill: black;
    -fx-background-radius: 10px; 
}

.titulo {
    -fx-font-size: 18px;
    -fx-text-fill: #5A777D;
}

.subtitulo {
    -fx-font-size: 28px;
    -fx-text-fill: black;
}

.campo {
    -fx-pref-width: 350px;
    -fx-font-size: 14px;
    -fx-background-color: #E2E9EF;
    -fx-padding: 8px;
    -fx-border-color: #5A777D;
    -fx-background-radius: 6;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.boton {
    -fx-background-color: #66bb6a;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-padding: 8px 20px;
}

.mensaje {
    -fx-text-fill: #d32f2f;
    -fx-font-size: 13px;
}

.label-link {
    -fx-font-size: 12px;
    -fx-text-fill: #555;
}

.link {
    -fx-font-size: 12px;
    -fx-text-fill: #5BBCE9;
    -fx-underline: true;
}